<!--
这个服务器的文件，客户端每次启动都必须更新
而且只有这个文件的版本号和客户端版本号相同的时候，该文件才是一个有效的文件
-->
<PACKAGE_CODE_VERSION>0</PACKAGE_CODE_VERSION>
<PACKAGE_CODE_VERSION_ANDROID>1</PACKAGE_CODE_VERSION_ANDROID>
<IS_SETTING_PINGFEN_OPEN>0</IS_SETTING_PINGFEN_OPEN>
<TUIJIAN_ICON_SCALE>1.2</TUIJIAN_ICON_SCALE>
<AD_IS_ADMOB_ENABLE_ANDROID>1</AD_IS_ADMOB_ENABLE_ANDROID>

